body {
margin:0px;
padding:0px;
text-align:center;
background-color:#F8FBF8;
}
#outer {
margin:0px auto 0px auto;
width:690px;
text-align:left;
padding:0px 20px 0px 20px;
border-top:2px solid #7A9837;
background-color:#ffffff;
border-left:1px solid #cccccc;
border-right:1px solid #cccccc;
line-height:140%;
}
#header {
padding:0px;
}
#header p{
font-size:14px;
padding-left:4px;
}
#main {
padding:4px 0px 0px 0px;
}
#left {
float:left;
margin-right:30px;
}
#right {
float:left;
}
ul {
margin: 0 0 0 1em;
padding: 0;
}
li {
list-style-type:disc; 
}
p {
margin:1em 0 1em 0;
font-size:94%;
color: #333;
font-family: "¥á¥¤¥ê¥ª","Hiragino Kaku Gothic Pro",Meiryo,"¥Ò¥é¥®¥Î³Ñ¥´ Pro W3","MS PGothic","MS UI Gothic",Helvetica,Arial,sans-serif;
}
img{
border:0px;
}
hr {
border-width: 1px 0px 0px 0px;
border-style: solid;
border-color: #cccccc;
height: 1px;
}
a{
font-weight:normal;
color: #003366;
}
h1 {
font-size:16px;
padding:24px 0px 0px 10px;
margin:0px;
}
h1 a{
font-weight:bold;
color: #8c0000;
text-decoration:none;
}
h1 a:hover{
text-decoration:underline;
}
h2 {
font-size:16px;
margin:0px 0px 0px 0px;
padding:3px 0px 4px 7px;
border-bottom:1px solid #F49909;
}
h3 {
font-size:16px;
margin:0px 0px 0px 0px;
padding:3px 0px 4px 7px;
}
.side {
padding:0px 0px 4px 0px;
font-size:14px;
}
.side li {
margin-left:5px;
}
.title {
width:300px;
margin:10px 0px 4px 0px;
font-weight:bold;
padding:4px 0px 4px 14px;
color:#333333;
background-color:#F4FCC4;
border:1px solid #cccccc;
}
#footer {
padding-top:14px;
font-size:12px;
height:120px;
clear:left;
text-align:center;
}
#footer a{
color:#444444;
}
#footer a:hover{
color: #003366;
}
blockquote{
border:1px solid #ccc;
padding:5px;
margin:10px;
}
