/*
 * style.css: CSS style definition file for `Rubyavailable'.
 * (<URL:http://www.jin.gr.jp/~nahi/Ruby/*>)
 *
 * changed h1.text-align to left (Michael Neumann)
 */

body {
/*    background: #FFFEEE; */
    background: white; 
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 13pt;
    line-height: 130%;
/*    font-family: verdana, arial, helvetica, Sans-Serif; */
}

.title { 
/*  font-family: "comic sans ms", verdana, sans-serif;  */
  text-align: center;
  color: white;
  background: lightblue;
}

h1 {
/*  font-family: "comic sans ms", verdana, sans-serif;  */
    text-align: left;
  margin-top: 5%; 
/*  margin-left: 10%; */
  margin-right: 10%;
  background: darkgray;
  color: white;
  line-height: 120%;
}

h2 {
/*  font-family: "comic sans ms", verdana, sans-serif; */
/*  text-align: center; */
  text-align: left;
  margin-top: 5%;
  /*  margin-left: 10%;  */
  /*  margin-right: 10%; */
  background: gray;
  color: white;
  
}

/* 

h2 {
  color: #FFFFFF;
  background: navy; 
  text-align: left;
}

*/

h3, h4, h5, h6 {
    /*    font-family: verdana, arial, helvetica, Sans-Serif;*/
    color: lightblue;
}

div.header p.status { text-align: right; }
div.header p.last-modified { text-align: left; }

/*
li p {
    margin-top: -1ex;
}
*/

dt {
    font-weight: bold; 
    margin-top: 2ex;
    margin-left: 1em;
}

address {
    color: gray;
    background: #EEEEEE;
    text-align: right;
    font-family: Times, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

table { 
/*  background-color: #EEEEEE; */
    background-color: gainsboro;
  /*  font-size: 11.5pt; */
  font-size: 1em;
}

pre {
  border-right: #646464 1px solid;
  padding-right: 0.5em;
  border-top: #646464 1px solid;
  padding-top: 0.5em;
  border-left: #646464 1px solid;
  padding-left: 0.5em;
  border-bottom: #646464 1px solid;
  padding-bottom: 0.5em;
  margin-left: 6em;
  white-space: pre;
  background-color: #EEEEEE;
  color: black;
  font-size: 0.8em; 
}

blockquote {
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-left: 0.5em; 
  padding-bottom: 0.5em;
  margin-left: 4em;
  margin-right: 4em;
/*  background-color: #EEEEEE; */
/*  background-color: paleturquoise;  */
/*  background-color: aqua;  */
/*  color: black; */
}

blockquote.indentation {
/*  background-color: #EEEEEE; */
  background-color: paleturquoise; 
/*  font-size: 1em; */
}

blockquote.dream { 
  color: midnightblue; 
/*  background-color: #EEEEEE; */
/*  background-color: lightsteelblue; */
  background-color: silver; 
/*  font-size: 12pt;  */
  font-size: 0.9em;
}

p.read { 
  color: #FCF;
/*  font-size: 11.5pt; */
  font-size: 0.9em;

}

ul, ol, dl {
  padding-right: 0.5em;
  padding-top: 0.5em;
/*  padding-left: 0.5em; */
/*  font-size: 11.5pt;  */
  padding-bottom: 0.5em;
  margin-left: 4em;
  margin-right: 4em;
/*  background-color: #CFF; */
  color: black;
}

span.download {
    font-weight: normal;
    color: blue;
    background: #EEEEEE;
}

.path {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navi {
    text-align: right;
}

.boxed {
  border: 1px solid green ;
}
